<div class="modal fade" id="__confirm_delete_modal"
     data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="__add_category_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">@ModalTitle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @BodyText
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button type="submit"
                        class="btn btn-danger btn-sm"
                        data-bs-dismiss="modal"
                @onclick="@(() => ConfirmButtonHandler.InvokeAsync(IdToDelete))">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required int IdToDelete { get; set; }
    [Parameter]
    public required string ModalTitle { get; set; }
    [Parameter]
    public required string BodyText { get; set; }
    [Parameter]
    public required EventCallback<int> ConfirmButtonHandler { get; set; }

}
