@inject IAuthService _authService

<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <a class="btn btn-outline-dark dropdown-toggle text-decoration-none" href="/profile" data-bs-toggle="dropdown" aria-expanded="false">
                Hi, Lim.meomeo
            </a>
            <ul class="dropdown-menu dropdown-menu-end mt-2">
                <li><a class="dropdown-item m-0 text-decoration-none" href="#">Action</a></li>
                <li><a class="dropdown-item m-0 text-decoration-none" href="#">Another action</a></li>
                <li><a class="dropdown-item m-0 text-decoration-none" href="#">Something else here</a></li>
            </ul>
        </div>
    </Authorized>

    <NotAuthorized>
        <NavLink href="/login">Login</NavLink>
    </NotAuthorized>

</AuthorizeView>

@code {
    private string UserName { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        UserName = await _authService.GetClaimValue("email");
    }
}
