<MudNavMenu>
    @if (categories == null)
    {
       <h3>
            loading...
       </h3>
    }
    else
    {
        @foreach (var category in categories)
        {
            <MudNavLink
                Href="@("category/" + category.Alias)" 
                Match="NavLinkMatch.Prefix" 
                Icon="@(string.IsNullOrEmpty(category.Icon)?
                        @Icons.Material.Filled.TableRows:
                        category.Icon)">
                @category.Name
            </MudNavLink>
        }
    }
</MudNavMenu>

@code {
    private List<Category> categories { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        categories = await _httpService.GetAll<Category>("Category/GetAll");
    }
}
