<div class="top-row ps-3 navbar text-black bg-white">
    <div class="container-fluid">
        <a class="navbar-brand text-black" href="/">
            <h3 class="text-black d-inline">
                Pixel
            </h3>
            <h3 class="text-warning d-inline">
                Pizza
            </h3>  
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <img src="/images/icons/menu-icon.png" width="24" height="24" />
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/index" Match="NavLinkMatch.All">
                <img src="/images/icons/dashboard.png" width="20" height="20" class="me-2" />
                DashBoard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/category">
                <span class="fa-solid fa-tags me-2"></span> Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/product">
                <i class="fa-solid fa-box me-2"></i> Product
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
