.mud-dialog-title {
    display: none;
}

.mud-table-pagination-actions
.mud-button-root.mud-icon-button.mud-ripple.mud-ripple-icon
.mud-icon-button-label {
    color: var(--mud-palette-text-secondary);
    opacity: 1;
}


.mud-table-pagination-actions
.mud-button-root.mud-icon-button.mud-ripple.mud-ripple-icon:disabled
.mud-icon-button-label {
    color: var(--mud-palette-text-secondary);
    opacity: .5 ;
}

