@page "/admin/category/add"
@inject ICategoryService _categoryService
@inject NavigationManager _navigationManager
<PageTitle>Add category</PageTitle>


<div class="row">
    <div class="col-9"> 

        <div class="mb-3">
            <a class="btn btn-primary btn-sm" href="/admin/category">Back to list</a>
        </div>

        <div class="card">
            <div class="card-header">
                <h1 class="card-title fs-5">Add new category</h1>
            </div>

            <EditForm OnValidSubmit="HandleAddCategory" Model="Category">
                <DataAnnotationsValidator />

                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <InputText class="form-control" placeholder=" " @bind-Value="@Category.Name" />
                        <label>Category name</label>
                        <ValidationMessage For="@(() => Category.Name)" />
                    </div>
                </div>

                <div class="card-footer text-end">
                    <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Discard</button>

                    <button type="submit"
                            class="btn btn-success btn-sm">
                        Save
                    </button>

                </div>
            </EditForm>
        </div>

    </div>
</div>



@code {
    private CategoryViewModel Category { get; set; } = new CategoryViewModel();

    private async Task HandleAddCategory()
    {
        try
        {
            await _categoryService.CreateAsync(Category);
            Console.WriteLine("Added category sucessfully!");
            _navigationManager.NavigateTo("/admin/category");
        }
        catch (ConnectException)
        {
            Console.WriteLine("Can't connect server");
        }
    }   

}
